@charset "UTF-8";
/* CSS Document */

.breadCrumbs{
  font-size: 1.2rem;
  padding: 10px 20px;
}
#title{
	widows:100%;
	background-color: #93b48a;
	font-size: 1.6rem;
	padding: 10px 15px;
	text-align: center;
	color: #FFF;
	margin-bottom: 10px;
}
#pri_p{
	letter-spacing: 0.025em;
	margin-bottom: 15px;
	font-size: 1.2rem;
	padding: 0 15px;
	line-height:1.5;
}

.pri_li li h2{
	height: 26px;
    line-height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 1.6rem;
    position: relative;
}
.pri_li li h2:before{
    content: '';
    display: block;
    position: absolute;
    background-image:url(images/icon.jpg);
	background-size:80%;
	background-repeat:no-repeat;
	width: 16px;
    height: 16px;
    top: 50%;
    left: 15px;
    margin-top: -8px;
}
.pri_li p{
	line-height:1.5;
	font-size:1.2rem;
	padding:0 15px;
	margin-bottom:15px;
}

.pri_button{
    display: block;
    width: 100%;
    height: 41px;
    text-align: center;
    background: #97b98d;
    color: #fff;
    text-decoration: none;
    line-height: 41px;
    position: relative;
    font-size: 1.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 11px;
}


.pri_button:after{
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -36px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#button_area{
	padding:0 15px;
	margin-bottom:30px;
	margin-top:40px;
}

.navi_list a{
 text-decoration:none;
}

