@charset "UTF-8";

/* common setting */

.cf:before, .cf:after {content:' '; display:table;}
.cf:after {clear:both;}
.cf {*zoom: 1;} /* For IE 6/7*/

img{vertical-align: middle;}
a{color: inherit;}


/*-------------------------------------------------------------------

font

-------------------------------------------------------------------*/

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 200;
    src: url('font/NotoSansCJKjp-Light.eot');
    src: local('Noto Sans CJK JP Light'),
    url('font/NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSansCJKjp-Light.woff') format('woff'),
    url('font/NotoSansCJKjp-Light.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 300;
    src: url('font/NotoSansCJKjp-DemiLight.eot');
    src: local('Noto Sans CJK JP DemiLight'),
    url('font/NotoSansCJKjp-DemiLight.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSansCJKjp-DemiLight.woff') format('woff'),
    url('font/NotoSansCJKjp-DemiLight.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url('font/NotoSansCJKjp-Regular.eot');
    src: local('Noto Sans CJK JP Regular'),
    url('font/NotoSansCJKjp-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSansCJKjp-Regular.woff') format('woff'),
    url('font/NotoSansCJKjp-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('font/NotoSansCJKjp-Bold.eot');
    src: local('Noto Sans CJK JP Bold'),
    url('font/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSansCJKjp-Bold.woff') format('woff'),
    url('font/NotoSansCJKjp-Bold.ttf')  format('truetype');
}

.nl{
    font-family: 'Noto Sans Japanese';
    font-weight: 200; /*light*/
}

.ndl{
    font-family: 'Noto Sans Japanese';
    font-weight: 300; /*demi-light*/
}

.nr{
    font-family: 'Noto Sans Japanese';
    font-weight: 400;/*regular */
}

.nb{
    font-family: 'Noto Sans Japanese';
    font-weight: 700;/*bold*/
}



/*-------------------------------------------------------------------

content

-------------------------------------------------------------------*/


html , body{
	width: 100%;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
    color: #666666;
}


/*-------------------------------------------------------------------
header
-------------------------------------------------------------------*/

header{
    background: #97b98d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 58px 0 0;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
}

header h1{
    width: 188px;
    display: block;
    float: left;
}

header h1 img{
    width: 100%;
    display: inline;
    outline: none;
}

.contact_box{
    float: right;
    height: 100%;
}

.contact_box li{
    float: left;
    width: 29px;
}

.contact_box li:nth-child(2){
    margin-left: 15px;
}

.contact_box li img{
    width: 100%;
    display: inline;
}

.menu_box{
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11px 0 0;
    z-index: 15;
    position: fixed;
    -webkit-transition  : .6s;
    transition          : .6s;
}

.active_nav .menu_box{
    background: #fff;
}

.menu_hun{
    width: 25px;
    height: 21px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.menu_hun span{
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    -webkit-transition  : .4s;
    transition          : .4s;
}

.menu_hun span:nth-child(1){
    top: 0;
}

.menu_hun span:nth-child(2){
    top: 8px;
}

.menu_hun span:nth-child(3){
    bottom: 0;
}

.active_nav .menu_hun span{
    background: #97b98d;
}

.active_nav .menu_hun span{border-radius: 0;}
.active_nav .menu_hun span:nth-child(1){
    top:4px;
	-webkit-transform: translateY(8px) rotate(-45deg);
	transform: translateY(8px) rotate(-45deg);
}
.active_nav .menu_hun span:nth-child(2){
	opacity: 0;
}
.active_nav .menu_hun span:nth-child(3){
    bottom:2px;
	-webkit-transform: translateY(-2px) rotate(45deg);
	transform: translateY(-2px) rotate(45deg);
}


.menu_ttl{
    text-align: center;
    margin-top: 4px;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
}
.navcont{
    position: fixed;
    padding-top: 50px;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav_list_box{
    width: 100vw;
    display: none;
}

.nav_list_box nav{width: 100%;}

.nav_list{
    width: 100vw;
}

.nav_li{
    overflow: hidden;
    height: 51px;
    background: #fff;
    font-size: 1.5rem;
    line-height: 51px;
    letter-spacing: 0.1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 50px;
    border-bottom: 1px solid #97b98d;
}

.nav_li a{
    text-decoration: none;
}

/*width>*/
.sly .nav_list_box{
    height: 270px;
    width: 100vw;
    top: 0;
    position: relative;
}

.sly .nav_list_box nav{height: 100%;width: 100%;}

.sly .nav_list{
    width: 100%;
    height: 100%;
    background: #fff;
}

.sly .nav_li{
    float: left;
    display: table;
    overflow: hidden;
    width: 50%;
    height: 25.6%;
    background: #fff;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
    border-bottom: 1px solid #97b98d;
}

.sly .nav_li:nth-child(even){
    border-left: 1px solid #97b98d;
}

.sly .nav_li:nth-child(7){
    width: 100%;
}

.sly .nav_li span{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/**/

.close_button{
    position: relative;
    text-align: center;
}

.close_button:before,
.close_button:after{
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -50px;
    position: absolute;
    background: #666666;
}

.close_button:before{
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.close_button:after{
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}


/*-------------------------------------------------------------------
footer
-------------------------------------------------------------------*/

footer{
    width: 100%;
    background: #535353;
    color: #fffdfd;
}

.foot_block{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 15px 30px;
}

.footer_name{
    font-size: 1.2rem;
    margin-bottom: 9px;
}
.footer_add{
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.75;
}

.tel_link_foot{
    text-decoration: none;
}

.footnav{
    width: 100%;
    margin-top: 25px;
}

.foot_nav_list{
    width: 100%;
}

.foot_nav_li{
    float: left;
    width: 33.33%;
    font-size: 1.1rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #fffdfd;
    text-decoration: underline;
}

.foot_nav_li:nth-child(3),
.foot_nav_li:nth-child(6){
    border: none;
}

.foot_nav_li:nth-child(n+4){
    margin-top: 30px;
}

.copy_block{
    width: 100%;
    background: #fff;
    text-align: center;
    height: 20px;
}

.copy{
    font-size: 0.9rem;
    color: #535353;
    line-height: 20px;
}

@media screen and (max-width: 320px) {
    .copy{
        font-size: 0.8rem;
    }
}

/*-------------------------------------------------------------------
content
-------------------------------------------------------------------*/

/*main_visual*/
.main_visual{
    padding-top: 50px;
}

.slide_in{
    position: relative;
}

.slide_in section{
    position: relative;
}

.slide img{
    display: inline;
    width: 100%;
}

.text_area{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
}

.text_area:before{
    content: '';
    display: block;
    background: #3e3a39;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.slide_ttl{
    margin-top: 26px;
    font-size: 1.8rem;
    color: #fff;
    position: relative;
    z-index: 1;
}

.twol .slide_ttl{
    margin-top: 9px;
    font-size: 1.8rem;
    line-height: 1.33;
}

.contact_text{
    display: block;
    margin: 21px auto 0;
    width: 27.8%;
    min-width: 104px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 16px;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
}

.twol .contact_text{
    display: block;
    margin: 10px auto 0;
}

/*content*/

.psge_sec{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 40px;
    width: 100%;
}

.sec_ttl_box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
}

.sec_ttl{
    font-size: 20px;
    letter-spacing: 0.15em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.list{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 15px;
    font-size: 1.2rem;
    letter-spacing: 0.025em;
}

.list li{
    float: left;
    display: block;
}

.list li:nth-child(2){
    margin-left: 1.5em;
}

.mis_list{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 50px 0 35px;
    margin-top: 30px;
}

.mis_li{
    width: 100%;
    margin-bottom: 35px;
}

.mis_li:nth-child(3){
    margin-bottom: 0;
}

.mis_ttl{
    font-size: 1.6rem;
    line-height: 1.125;
    letter-spacing: 0.1em;
    position: relative;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.mt01{
    padding: 15px 4.1% 9px 28%;
}

.mt01:after{
    content: '';
    position: absolute;
    display: block;
    background: url(../img/img01.png) center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 55px;
    height:58px;
    top: 0;
    left: 50%;
    margin-left: -118px;
}

.mt02{
    padding: 11px 4.1% 10px 28%;
}

.mt02:after{
    content: '';
    position: absolute;
    display: block;
    background: url(../img/img02.png) center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 41px;
    height:56px;
    top: 0;
    left: 50%;
    margin-left: -114px;
}

.mt03{
    padding: 10px 0 9px 18.5%;
}

.mt03:after{
    content: '';
    position: absolute;
    display: block;
    background: url(../img/img03.png) center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 48px;
    height:48px;
    top: 4px;
    left: 50%;
    margin-left: -132px;
}

.secli_text{
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    text-align: justify;
    line-height: 1.5;
}


.caution{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 14px 0 13px;
    font-size: 1.2rem;
    letter-spacing: 0.025em;
}

.project_list{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
}

.pro_li{
    margin-bottom: 15px;
}

.pro_li:nth-child(7){
    margin-bottom: 0;
}

.pro_ttl{
    height: 26px;
    line-height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 35px;
    font-size: 1.6rem;
    color: #97b98d;
    position: relative;
}

.pro_ttl:before{
    content: '';
    display: block;
    position: absolute;
    background: #97b98d;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 10px;
    margin-top: -8px;
}

.pro_ttl:after{
    content: '';
    display: block;
    top: 10px;
    left: 14px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #fff !important;
    border-right: solid 2px;
    border-bottom: solid 2px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: .3s;
    transition: .3s;
}

.open .pro_ttl:after{
    top: 9px;
    left: 15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform:  rotate(45deg);
}

.toggle_sec{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 6px;
}

.pro_text{
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.inner_list{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 10px 13px;
    background: #fdf6eb;
    border-radius: 5px;
    margin-top: 6px;
}

.in_li{
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.in_li:before{
    content: url("../img/arrow.png");
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    margin-right: -15px;
    -webkit-transform-origin: center left;
    -moz-transform-origin: center left;
    -ms-transform-origin: center left;
    -o-transform-origin: center left;
    transform-origin: center left;
}

.sec_in{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
}

.voice_list{
    margin-top: 15px;
    width: 100%;
}

.vo_li{
    width: 100%;
    margin-bottom: 30px;
}

.vo_li:nth-child(3){
    margin-bottom: 0;
}

.vo_ttl{
    font-size: 1.5rem;
    letter-spacing: 0.025em;
}

.in_vo_list{
    margin-top: 13px;
    width: 100%;
}

.in_vo_li{
    margin-top: 10px;
    font-size: 1.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
}

.in_vo_li:before{
    content: '・';
}

.vo_li_button{
    display: block;
    width: 100%;
    height: 41px;
    text-align: center;
    background: #97b98d;
    color: #ffffff;
    text-decoration: none;
    line-height: 41px;
    position: relative;
    font-size: 1.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 8.3%;
    border-radius: 3px;
    margin-top: 11px;
}

.vo_li_button:before{
    content: '';
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -40px;
}

.vo_li_button:after{
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -36px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #97b98d !important;
    border-right: solid 2px;
    border-bottom: solid 2px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sec05 img{
    display: inline;
    width: 100%;
    height: auto;
}

.sec05 .sec_in{
    margin-top: 15px;
}

.acsess{
    margin-top: 23px;
}

.ac_ttl{
    font-size: 1.5rem;
    color: #97b98d;
}

.ac_list{
    margin-top: 10px;
}

.ac_li{
    font-size: 1.1rem;
    color: #959595;
    line-height: 1.5;
}

.ac_li:before{
    content: '● ';
}

.ac_liin{
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 11rem;
}

.inc_prof{
    margin-top: 26px;
}

.inc_li{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 0;
    border-bottom: 1px solid #97b98d;
}

.inc_li:nth-child(1){
    border-top: 1px solid #97b98d;
}

.inc_li dl{
    display: table;
    vertical-align: middle;
    width: 100%;
}


.inc_li dl dt{
    display: table-cell;
    vertical-align: middle;
    background: #97b98d;
    width: 23.2%;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}

.inc_li dl dd{
    display: table-cell;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2.5%;
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    line-height: 1.5;
}

.inc_li dl.fdd dd{
    width: 38.4% !important;
    /*-ms-word-break: break-all;
    word-break: break-all;*/
}
.inc_li dl.fdd  dd.bdd{
    border-left: 1px solid #bdbcbc;
}

.inc_li dl dd ul{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 0;
}

.inc_li dl dd a{
    text-decoration: none;
}

.inc_li dl dd .hp_link{
    text-decoration: none;
    -ms-word-break: break-all;
    word-break: break-all;
    font-size: 0.9rem;
    line-height: 1;
}

.inc_li dl dd ul li{
    margin-top: 1px;
    overflow: hidden;
}

.inc_li dl dd ul li:nth-child(1){
    margin-top: 0;
}

.inc_li dl dd ul li:before{
    content: '-';
}

.p_sec{
    margin-top: 35px;
}

.p_ttl{
    font-size: 1.5rem;
    margin-bottom: 14px;
    color: #97b98d;
    letter-spacing: 0.15em;
}

.p_sec dl{
    margin-top: 18px;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.p_sec dl dd:before{
    content: '-';
}

.con_cau{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    line-height: 1.5;
}


.contact_out{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
}

/*contact*/

#contactForm{
  padding-top:10px;
  margin-bottom:30px;
  width:100%;
  border:1px solid #c2c2c2;
}

#contactForm p{
  margin-top:5px;
  margin-bottom: 8px;
  font-size: 1.2rem;
}

#content{
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.red{
  color:red;
  display: inline-block;
  margin-left: 0.5em;
}

input[type="text"],input[type="tel"],input[type="email"]{
  border-radius:3px;
  width:94%;
    border : 1px solid #ccc;
    -webkit-appearance : none;
    -webkit-tap-highlight-color : rgba(0,0,0,0);

}

#sei,#mei,#hurisei,#hurimei{
  width:49.5%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1em;
}

#mei,#hurimei{
    float: right;
}

label{
  display: inline-block;
  margin-top:10px;
}

input {
  vertical-align:bottom;
}


input[type=text],input[type=email],input[type=tel]{
	width:100%;
	height:37px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1em;
}

input[type="checkbox"]{
  margin-right:10px;
}

textarea{
  width:100%;
  line-height: 1.2;
  border-style:ridge;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1em;
}

button[type="submit"]{
  -webkit-appearance : none !important;
  width:100%;
  font-size: 1.2em;
  background-color: #97b98d !important;
  color: #fff;
  border-style: none;
  border-radius:3px;
  line-height:40px;
  text-align: center;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 8.3%;
}


button[type="submit"]:before{
    content: '';
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -53px;
}

button[type="submit"]:after{
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -49px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #97b98d !important;
    border-right: solid 2px;
    border-bottom: solid 2px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#conf{
  margin-top:20px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  /*width:100%;*/
}

#subBtn{
  margin-top:20px;
  margin-bottom:10px;
  margin-right:auto;
  margin-left:auto;
}

.required{
  background-color:#fff9f6;
}

/*↓チェックボックスデザイン↓*/

input[type=checkbox] {
  display: none;
}

#pri{
  display:inline-block;
  vertical-align:100%;
}


.checkbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.2rem;
    letter-spacing: 0.025em;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0 0 8px 0;
  padding: 12px 12px 12px 38px;
  border-radius: 8px;
  background-color: #f6f7f8;
  vertical-align: middle;
  cursor: pointer;
}

.on_click.checkbox {
  background-color: #e2edd7;
}

.on_click.checkbox:after {
  border-color: #53b300;
}
.checkbox:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 11px;
  display: block;
  margin-top: -9px;
  width: 14px;
  height: 14px;
  border: 2px solid #bbb;
  border-radius: 6px;
  content: '';
}


.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 17px;
  display: block;
  margin-top: -6px;
  width: 4px;
  height: 8px;
  border-right: 3px solid #53b300;
  border-bottom: 3px solid #53b300;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=checkbox]:checked + .checkbox:before {
  opacity: 1;
}

#conf{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#conf input{
    float: left;
    display: none;
}

.breadCrumbs a{
  text-decoration:none;
}

.policy{
    margin-top: 0;
    line-height: 20px;
    margin-top: 1px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
}

.lhlhl{
    line-height: 1.5;
}

@media screen and (max-width: 374px)  {

    .mis_ttl{
        font-size: 1.5rem;
        letter-spacing: 0;
    }
    .mt01{
        padding: 16px 0 9px 21%;
    }
    .mt02{
        padding: 12px 0 10px 19%;
    }
    .mt03{
        padding: 11px 0 9px 11.5%;
    }
    .mis_ttl::after{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
}
