h1{
  font-family:'Noto Sans Japanese', san-serif;
}

.soleil{
  width: 960px;
  margin: 0 auto;
  clear:both;


}

.soleil .title{
  background-image:url("../images/title_layer.png");
  background-repeat:no-repeat;
  width: 960px;
  height:143px;
  position:relative;
}

.soleil .title p{
  height:55px;
  position:absolute;
  top:38%;
  left:38%;
  color:#666666;
  font-size:36px;
  font-weight: bold;

}

.soleil .title .line{
  position:absolute;
  width:140px;
  border-bottom:solid 1px #959595;  
  top:78%;
  left:42%;
}

.soleil .main{
  width: 720px;
  margin-right: 20px;
  margin-top:10px;
  margin-left:10px;
  float: left;

}

.soleil .main p{
  margin-bottom: 1.2em !important;
  font-size: 16px !important;
  line-height: 1.7;
}

.soleil .article-title{
  width:713px;
  height:76px;
  background-image:url("../images/title_layer.jpg");
  background-repeat:no-repeat;
  background-color:#93b48a;
  padding:10px;

}

.soleil h1{
  font-size:22px;
  color:#ffffff;
  margin:0px;
}

.soleil .article-date{
  float:left;
  font-size:13px;
  color:#ffffff;
  margin-top:5px;
}

.soleil .article-no{
  float:left;
  font-size:13px;
  color:#ffffff;
  margin-left:20px;
  margin-top:5px;
}


.soleil h2{
  height:40px;
  font-size:24px;
  background-repeat:no-repeat;
  border-bottom: dashed 2px #93b48a;
  background-image:url("../images/h2_idea1.png");
  padding-left:35px;
  /*margin-bottom: 1.5em !important;*/
}

.soleil h3{
  font-size:20px;
  margin-bottom: 1.5em !important;
  background-repeat:no-repeat;
  background-image:url("../images/h2_1.png");
  background-position:0px 4px;
  padding-left:20px;
}

.soleil .sub{
  margin-top:10px;
  width:200px;
  float:right;
  padding-left:10px;
  border-left:dotted 2px #93b48a;
  min-height: 1400px;
}

.soleil .sub .article-list-line{
  border-bottom: solid 2px #93b48a;
  height: 36px;
}

.soleil .sub .article-list{
  font-size:22px;
  float:left;
}

.soleil .sub .article-list_sub{
  font-size: 14px;
  float: left;
  padding-left: 5px;
  padding-top: 10px;
}

.soleil .sub .arrow{
  background-repeat:no-repeat;
  background-image:url("../images/arrow.png");
  background-position:0px 4px;
  padding-left:20px;

}

.soleil .sub-date{
  font-size:14px; 
  margin-bottom:0px;
  margin-top:20px;

}

.soleil .sub .list a{
  font-size:14px;
}




.page{
  clear:both;
}


